{% extends "base.html" %}

{% block content %}
<style>
    .badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
    }

    .bg-info {
        background-color: #d1ecf1;
    }

    .bg-warning {
        background-color: #fff3cd;
    }

    .text-dark {
        color: #343a40;
    }

    .bg-danger {
        background-color: #f8d7da;
    }

    .bg-success {
        background-color: #d4edda;
    }

    .bg-blue {
        background-color: #007bff;
    }

    .text-white {
        color: #fff;
    }

    .col {
        display: inline-block;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    .mb-5 {
        margin-bottom: 3rem;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .mt-5 {
        margin-top: 3rem;
    }
</style>

<div class="container mt-5"> <!-- container -->
    <h1 class="mb-5">Liste des tâches</h1> <!-- titre de la page -->
    <table class="table"> <!-- tableau des tâches -->
        <thead class="bg-blue text-white"> <!-- en-tête du tableau des tâches -->
        <tr> <!-- ligne du tableau -->
            <th scope="col" class="">#</th> <!-- colonne id -->
            <!-- colonne id -->
            <th scope="col" class="">Name</th> <!-- colonne nom de la tâche -->
            <!-- colonne nom de la tâche -->
            <th scope="col" class="">Description</th> <!-- colonne description de la tâche -->
            <!-- colonne description de la tâche -->
            <th scope="col" class="">Assigned To</th> <!-- colonne utilisateur assigné à la tâche -->
            <!-- colonne utilisateur assigné à la tâche -->
            <th scope="col" class="">Project</th> <!-- colonne projet associé à la tâche -->
            <!-- colonne projet associé à la tâche -->
            <th scope="col" class="">Start Date</th> <!-- colonne date de début de la tâche -->
            <!-- colonne date de début de la tâche -->
            <th scope="col" class="">End Date</th> <!-- colonne date de fin de la tâche -->
            <!-- colonne date de fin de la tâche -->
            <th scope="col" class="">Status</th> <!-- colonne état de la tâche -->
            <!-- colonne état de la tâche -->
            <th scope="col" class="">Action</th> <!-- colonne action sur la tâche  -->
        </tr>
        </thead>
        <!-- fin de l'en-tête du tableau -->
        <tbody> <!-- corps du tableau -->
        {% for task in object_list %} <!-- boucle sur les tâches -->
        <tr> <!-- ligne du tableau -->
            <th scope="row">{{ task.id }}</th>
            <!-- id de la tâche -->
            <td><a href="{% url 'task_update' task.pk %}">{{ task.name }}</a></td>
            <!-- nom de la tâche -->
            <td>{{ task.description }}</td>
            <!-- description de la tâche -->
            {% if task.assigned_to %} <!--si la tâche est assignée à un utilisateur -->
            <td>{{ task.assigned_to }}</td>
            <!--utilisateur assigné à la tâche -->
            {% else %} <!--sinon -->
            <td><a href="{% url 'task_update' task.pk">Ajouter un utilisateur</a></td>
            <!--lien pour ajouter un utilisateur -->
            {% endif %} <!--fin de la condition -->
            <td><a href="{% url 'project_detail' task.project.pk %}">{{ task.project.name }}</a></td>
            <!--projet associé à la tâche -->
            <td>{{ task.start_date|date:"d/m/Y" }}</td>
            <!--date de début de la tâche -->
            <td>{{ task.end_date|date:"d/m/Y" }}</td>
            <!--date de fin de la tâche -->
            <td>{% if task.status == "NEW" %} <!--état de la tâche-->
                <span class="badge bg-primary">{{ task.get_status_display }}</span>
                <!--affichage de l'état de la tâche-->
                {% elif task.status == "IN PROGRESS" %} <!--si l'état de la tâche est "En cours"
                <span class="badge bg-warning text-dark">{{ task.get_status_display }}</span> <!--affichage de l'état de
                la tâche-->
                {% elif task.status == "COMPLETED" %} <!-- si l'état de la tâche est "Terminée" -->
                <span class="badge bg-success">{{ task.get_status_display }}</span>
                <!--affichage de l'état de la tâche-->
                {% elif task.status == "CANCELED" %} <!-- si l'état de la tâche est "Annulée" -->
                <span class="badge bg-danger">{{ task.get_status_display }}</span>
                <!--affichage de l'état de la tâche-->
                {% endif %} <!-- fin de la condition-->
            </td>
            <td>
                <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Supprimer</a>
            </td>
            <!-- fin de la colonne état de la tâche-->
        </tr>
        <!-- fin de la ligne du tableau -->
        {% endfor %} <!--fin de la boucle sur les tâches-->
        </tbody>
        <!--fin du corps du tableau -->
    </table>
    <!--fin du tableau des tâches-->
</div> <!--fin du container-->
{% endblock %}
