<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhvLvLvTNU7BnE9EwI5z8bxgB1QREsjKk LOVEJd21SreF"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
            integrity="sha384-UTxPp8LtkjwBd3fivOAEF2rhWcbnnR7jXMt9Ycp1gK/vxWPyzRQLwH+tLfxMZjKg"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ProjectsManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'accounts:profile' %}" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects:projects_list/' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url '/tasks:index' %}">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url '/teams:index' %}">Teams</a>
            </li>
            {% if user.is_manager %}
            <li class="nav-item">
                <a class="nav-link" href="{% url '/users:index' %}">Users</a>
            </li>
            {% endif %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Log in</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="{% url 'accounts/logout' %}">Log out</a>
        </div>
    </div>
    {% endif %}
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>