{% extends "base.html" %}

<style>
    .list-group-item {
        background-color: #f7f7f9;
        border: none;
    }

    .list-group-item:hover {
        background-color: #e1e1e1;
    }

    .form-check-input[type="checkbox"] {
        margin-top: 0;
        margin-right: 0.5rem;
    }

    .form-check-label {
        font-size: 0.9rem;
    }

    .my-2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

</style>
{% block content %}
<div class="container mt-5">
    <h1 class="mb-5">Calendar</h1>
    <div class="list-group">
        {% for project in projects %}
        <div class="list-group-item d-flex justify-content-between align-items-center gap-3">
            <div class="fw-bold">{{ project.name }}</div>
            <div class="fw-bold">{{ project.start_date|date:"F d, Y" }} - {{ project.end_date|date:"F d, Y" }}</div>
            <div class="form-check">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="" id="{{ project.id }}">
                <label class="form-check-label ms-2" for="{{ project.id }}">
                    Completed
                </label>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
