{% extends 'base.html' %}

{% block content %}
<h1>Liste des projets</h1> <!-- titre -->
<hr> <!-- séparateur -->

{% if projects|length == 0 and tasks|length == 0 %} <!-- si aucun projet ou tâche -->
<div class="text-center my-5"> <!-- message -->
    <p>Aucun projet ou tâche n'a été créé.</p> <!-- message -->
    <div class="custom-button-container btn-animated btn-primary"> <!-- bouton pour créer un projet -->
        <a href="{% url 'project_create' %}">Créer un projet</a> <!-- lien vers la page de création de projet -->
    </div>
</div>
<div class="row"> <!-- liste des projets -->
    {% for project in object_list %} <!-- boucle sur les projets -->
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm"> <!-- carte du projet -->
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ project.name }}</h4> <!-- titre -->
            </div>
            <div class="card-body"> <!-- description -->
                <ul class="list-unstyled mt-3 mb-4"> <!-- liste des informations -->
                    <p>{{ project.description }}</p> <!-- description -->
                    <li>Date de début: {{ project.start_date|date:"d-m-Y" }}</li> <!-- date de début -->
                    <li>Date de fin: {{ project.end_date|date:"d-m-Y" }}</li> <!-- date de fin -->
                </ul>
                <a href="{% url 'project_detail' pk=project.pk %}" class="btn btn-primary">Détails</a>
                <!-- bouton pour voir les détails du projet -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
{% endif %}
{% endblock %}
