{% extends "base.html" %}

{% block content %}


{% if tasks %}
<h2>Tâches à faire aujourd'hui :</h2>
<div class="list-group">
    {% for task in tasks %}
    <!--a href="{% url 'task_update' task.pk %}">{{ task.name }}</a-->
    <a href="{% url 'task_update' task.pk %}" class="list-group-item list-group-item-action no-decoration">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ task.name }}</h5>
            <small>{{ task.end_date }}</small>
        </div>
        <p class="mb-1"> Description {{ task.description }}</p>
        <small>Projet :{{ task.project.name }}</small>
    </a>
    <hr>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
